.wrapper {
    border-top: 1px solid #1618231f;
}
.label {
    padding: 8px;
    font-weight: 600;
    color: #161823bf;
}
.account-item {
    display: flex;
    padding: 8px;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.item-info {
    flex: 1;
    margin-left: 12px;
}
.nickname {
    line-height: 1;
    font-size: 1.6rem;
    color: #161822;
}
.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.more-btn {
    font-size: 1.4rem;
    color: #fe2c55;
    padding: 8px;
    font-weight: 700;
    cursor: pointer;
}
