.menu-item {
    display: flex;
    font-size: 1.8rem;
    padding: 8px;
    font-weight: 800;
    align-items: center;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out;
    &.active {
        color: var(--primary-color);
        .icon {
            display: none;
        }
        .active-icon {
            display: block;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 25, 0.03);
    }
}
.title {
    margin-left: 8px;
}

.active-icon {
    display: none;
}
