.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-botton-width: 54px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: var(--defaul-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white-color);
}
.inner {
    height: 100%;
    padding: 0 var(--defaul-layout-horizontel-spacer);
    width: var(--defaul-layout-with, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Left(logo)

.logo-link {
    display: flex;
}

// Center

.search,
.search-result {
    width: 361px;
}

.search {
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    position: relative;
    background-color: rgb(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    input {
        flex: 1;
        color: var(--black-color);
        font-size: 1.6rem;
        caret-color: var(--primary-color);
        height: 100%;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-botton-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgb(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgb(22, 24, 35, 0.2);
    }
}
.search-title {
    color: rgb(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-botton-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.34);
}
.search-btn {
    width: var(--search-botton-width);
    height: 100%;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    color: rgb(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background-color: rgb(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgb(22, 24, 35, 0.06);
    }
}

// Right

.icon-add {
    margin-right: 8px;
    font-weight: 700;
    font-size: 16px;
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

.user-avatar {
    margin-left: 24px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
}

.more-wrapper {
    margin-left: 16px;
    position: relative;
    cursor: pointer;
    font-style: normal;
    font-size: 1.8rem;
    padding: 0 4px;
    background-color: transparent;
    padding: 4px 8px;
}
.btn-login {
    display: inline-block;
}
